// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'reset';

// START PROJECT TEST

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }


  //HEADER PART
.container-fluid{

    .row{

        .header{
            width: 100%;
            height: 80px;
            border: 1px solid black;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color:$header;


            .list-info-header{
               width: auto;
               height: auto;
               padding-right: 20px;
               padding-top: 17px;
                ul{
                    li{
                    display: inline;
                    padding: 10px;

                    a{
                        text-decoration: none;
                    }
                      }
                }

            }
        }


    }
}


//JUMBOTRON PART
.container-fluid{

    .row{

        .jumbo-background{
        width: 100%;
        height: calc(100vh - 80px);
        background-image: url('https://www.officinanaddeo.it/storage/2020/03/Sfondo-Header.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;


        .card-container{
          width: 100%;
          height: 500px;
          display: flex;


          .content-card{
              width: calc(100% / 3);
              height: 100%;
              border: 1px solid yellow;
          }

        }

        }
    }
}


// FORM CUSTOMER PART
#app{
width: 100vw;
height: 100vh;
background-image: url('https://media-eu.camilyo.software/media-eu/static/0283/736.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;

.send-button{
    background: #54C7C3;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
    }

    .g-button{
    color: #fff !important;
    border: 1px solid #EA4335;
    background: #ea4335 !important;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
    }
    .my-input{
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: text;
    padding: 8px 10px;
    transition: border .1s linear;
    margin-bottom: -20px;
    }
    .header-title{
   margin-bottom: 20px;
    }
    h1{
    font-size: 31px;
    line-height: 40px;
    font-weight: 600;
    color:$title-form;
    }
    .sub-title{
    color: $title-form;
    font-size: 30px;
    line-height: 32px;
    font-weight: 400;
    }

    .text-center{
        padding-top: 20px;
    }
    @media screen and (max-width:480px){
    h1{
    font-size: 26px;
    }
    h2{
    font-size: 20px;
    }
    }
}
